body {
	background: rgb(250, 239, 220);
}
header {
	background: #ed8505;
	padding: 25px;
}
header h1 {
	text-align: center;
	color: rgb(250, 250, 244);
	margin: auto;
}
svg {
    pointer-events: all;
}
.node circle {
	cursor: pointer;
	fill: rgb(255, 255, 255);
	stroke: rgb(3, 3, 252);
	stroke-width: 1.5px;
}
.node text {
  	font-size: 11px;
}

path.link {
  	fill: none;
  	stroke: #ccc;
  	stroke-width: 1.5px;
}
#jsoncontent {
	background-color: rgb(233, 233, 233);
	max-width: 100%;
	min-width: 100%;
	min-height: 200px;
	padding: 20px;
}
#visualize {
	color: #fff;
	background: #01bff9;
	border: 0px;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}
svg {
	cursor: move;
}